<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1efaceac26.js" crossorigin="anonymous"></script>
    <style>
        html, body {
            height: 100%;
        }
        .fas {
            cursor: pointer;
        }
        tr:hover {
            transition: 0.5s;
            background-color: #f1f1f1;
        }
        tr:hover .fa-minus-circle {
            visibility: visible;
        }
        .fa-minus-circle {
            color: rgba(255, 0, 0, 0.45);
            visibility: hidden;
        }
        .fa-minus-circle:hover {
            color: rgba(255, 0, 0, 0.75);
            transition: 0.5s;
        }
        .student-name {
            cursor: pointer;
        }
    </style>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container d-flex justify-content-center">
    <div class="card mt-4 w-50">
        <div class="card-header d-flex justify-content-between">
            <div>Lista de estudiantes inscritos en la biblioteca</div>
            <div><i class="fas fa-plus-circle" onclick="addStudent()"></i></div>
        </div>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nombre completo</th>
                <th scope="col">NUA</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < students.length; i++) { %>
                <tr>
                    <td class="student-name" onclick="editStudent(this)"><%= students[i].full_name %></td>
                    <td class="d-flex justify-content-between nua"><div><%= students[i].nua %></div><i class="fas fa-minus-circle mt-1" onclick="saveDeleteStudent(this)"></i></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
            </div>
            <div id="modal-body">
                <form class="container">
                    <div class="form-group">
                        <label class="col-form-label">Nombre completo:</label>
                        <input type="text" class="form-control" id="form-name" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">NUA:</label>
                        <input type="text" class="form-control" id="form-nua" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="modal-save">Guardar</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/estudiante.js"></script>
</body>
</html>