<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Libros</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1efaceac26.js" crossorigin="anonymous"></script>
    <style>
        html, body {
            height: 100%;
        }

        .fas {
            cursor: pointer;
        }

        tr:hover {
            transition: 0.5s;
            background-color: #f1f1f1;
        }

        tr:hover .fa-minus-circle {
            visibility: visible;
        }

        .fa-minus-circle {
            color: rgba(255, 0, 0, 0.45);
            visibility: hidden;
        }

        .fa-minus-circle:hover {
            color: rgba(255, 0, 0, 0.75);
            transition: 0.5s;
        }
    </style>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container">
    <div class="d-flex justify-content-between mt-3">
        <h2>Libros registrados en la biblioteca</h2>
        <div><i class="fas fa-plus-circle" style="font-size: larger; margin-top: 14px" onclick="addBook()"></i></div>
    </div>
    <hr>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Nombre del libro</th>
            <th scope="col">Autor</th>
            <th scope="col">Edición</th>
            <th scope="col">Editorial</th>
        </tr>
        </thead>
        <tbody>
        <% for(let i = 0; i < books.length; i++) { %>
            <tr>
                <td onclick="editBook(this)" style="cursor: pointer"><%= books[i].title %></td>
                <td><%= books[i].author %></td>
                <td><%= books[i].edition %></td>
                <td class="d-flex justify-content-between">
                    <div><%= books[i].editorial %></div>
                    <i class="fas fa-minus-circle mt-1" onclick="saveDeleteBook(this)"></i></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<div class="modal fade" id="modal-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
            </div>
            <div id="modal-body">
                <form class="container">
                    <div class="form-group">
                        <label class="col-form-label">Título del libro:</label>
                        <input type="text" class="form-control" id="form-title" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Autor:</label>
                        <input type="text" class="form-control" id="form-author" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Edición:</label>
                        <input type="text" class="form-control" id="form-edition" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Editorial:</label>
                        <input type="text" class="form-control" id="form-editorial" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="modal-save">Guardar</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/libro.js"></script>
</body>
</html>