<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Libros</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1efaceac26.js" crossorigin="anonymous"></script>
    <style>
        html, body {
            height: 100%;
        }

        .fas {
            cursor: pointer;
        }
    </style>
</head>
<body>
<% include partials/navbar.ejs %>
<div class="container d-flex justify-content-center">
    <div class="card mt-4 w-75">
        <div class="card-header d-flex justify-content-between">
            <div>Lista de libros registrados en la biblioteca</div>
            <div><i class="fas fa-plus-circle"></i></div>
        </div>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nombre del libro</th>
                <th scope="col">Autor</th>
                <th scope="col">Edición</th>
                <th scope="col">Editorial</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < books.length; i++) { %>
                <tr>
                    <td><%= books[i].name %></td>
                    <td><%= books[i].author %></td>
                    <td><%= books[i].edition %></td>
                    <td><%= books[i].editorial %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>